@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}




.primaryColor {
  color: #4D4F53;
}
.secondaryColor {
  color: #f50400;
}
/* #4096ff */
/* #B63155  */
.primaryButton{
  background-color: #080921;
  color: white;
  font-weight: 500;
  padding: 7px 0px;
  transition: all 0.3s ease-in-out;
}
.primaryButton:hover{
  background-color: #f50400;
  color: white;

}
.ant-modal-footer{
  display: none;
}

.ant-divider{
  color: rgb(0, 0, 0);
}