@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}



.primaryColor {
  color: #4D4F53;
}
.secondaryColor {
  color: #f50400;
}
