@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}



.primaryColor {
  color: #4D4F53;
}
.secondaryColor {
  color: #f50400;
}
.primaryButton{
  background-color: #080921;
  color: white;
  font-weight: 500;
  padding: 7px 0px;
  transition: all 0.3s ease-in-out;
}
.primaryButton:hover{
  background-color: #f50400;
  color: white;

}
